!!! Strict
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => "text/html; charset=iso-8859-1"}
		
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/bootstrap.min.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/styles.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" }
    %script{ :src => "jquery-1.9.1.js"}
    %script{ :src => "jquery-ui-1.10.3.custom.min.js"}
		
    %title Chat with frames
  %body
    
    .span12
      #asunto
        %ul
          %li Práctica 9 SYTW: Miguel Adán Negrón Almenara
          %li Click sobre un nick para abrir un privado.
          %li 
            alu0100356137@ull.edu.es
          %li
            %a{:href=>"https://github.com/migueladan?tab=repositories"} https://github.com/migueladan?tab=repositories
      .global-container
        = yield
		
