/*
    Miguel A. Negrón Almenara: alu0100356137@ull.edu.es
*/
body {
    background: url('https://dl.dropboxusercontent.com/u/28142282/wall/starfield2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.global-container {
    margin-top: 0px;
}

.login-container {
    width: 600px;
    height: auto;
    background: #FFF;
    border: 1px solid #000;
    padding: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.chat-container {
    height: 300px;
    overflow-y: scroll;
    background: #FFF;
    border: 1px solid #000;
    padding: 10px;
    margin-top: 50px;
}

#chat-room {
    margin-left: 5%;
}

.submit-container {
    margin-top: 10px;
}

.users-container {
    height: 300px;
    overflow-y: scroll;
    background: #FFF;
    border: 1px solid #000;
    padding: 10px;
    margin-top: 50px;
}

.users-container ul {
    list-style: none;
    margin:0;
    padding:0;
}
.usuario-lista {
    background-color:rgba(115,255,0,0.2);
    cursor:pointer;
    border-radius:5px;
    text-align: center;
}
.privado {

}
.privado-interior {
    width:280px;
    opacity:0.8;

}
.privado-mensajes {
    height: 200px;
    width: 250px;
    overflow-y: scroll;
    background: #FFF;
    border: 1px solid #000;
    padding: 10px;

}
.i-button {
    float:right;
    margin-top:2px;
}
#asunto {

    display:block;

    margin-top:40px;

    color:white;
    font-size:20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
#asunto ul { list-style:none;}
#asunto ul li {margin-bottom:10px;}
/*
    Miguel A. Negrón Almenara: alu0100356137@ull.edu.es
*/